/* General */
body {
    background-color: #ededed;
    width: 1200px;
}
h2 {
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #d3001c;
}

/* helper */
.width {
    width: 960px;
}
.widthContent {
    width: 900px;
    margin: 0 30px;
}
.infoP {
    font-size: 14pt;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
    overflow: auto;
}
/* Wrapper */
#wrapper {
          
    border-top:  1px solid #cccccc;
    margin: 0 auto;
    margin-top: 9px;
    background-color: #ffffff;
}

/* header */
#header {
    margin: 0 auto;
}
#slogan {
    display: block;
    margin-top: 7px;
}

/* menu */
#conainerMenu{
    margin: 0 auto;
    border-bottom: solid 7px #676766;
}
ul {
    margin-left: 50px;

}
#menu li{
    display: inline;
    list-style: none;
}
a {
    text-decoration: none;
}
li +li {
    margin-left: 50px;
    margin-right: 0px;
}
.menuHead {
    color: #676766;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

/* content */ 
#containerContent{
    width: 900px;
    margin: 0 30px;
}
.subtitle {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8c0013;
}

.box {
    width: 440px;
    height: 348px;
    background-color: #f5f3f3;
    position: absolute;
    border: solid 1px #cac8c8;
    display: inline;
}
.titleBox{
    margin-left: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #707070;

}
.box p{
    margin-left: 20px;
    margin-top: -10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #313131;
}
#box2 {
    margin-left: 458px;
}
.phone {
    position: relative;
    float: right;
    margin-top: 2px;
    margin-right: 43px;
}
.phone2 {
    position: relative;
    float: right;
    margin-top: 2px;
    margin-right: 21px;
}
#moreInfo {
    margin: 406px 30px 0px 30px;
    width: 900px;

}
